body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 75px;
}
.logo__text {
  font-size: 34px;
  font-family: Shrikhand;
  margin: 20%;
}

.fa-arrow-left {
  display: none;
  color: black;
  font-size: 20px;
}

.footer {
  background-color: #353535;
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding: 30px 10px 10px 30px;
  line-height: 28px;
}
.footer__title {
  font-size: 18px;
  font-family: Shrikhand;
  color: white;
}
.footer__list {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}
.footer__link {
  color: white;
  margin: 20px 0;
  font-size: 20px;
}
.footer__link__icon {
  margin-right: 20px;
  width: 12px;
  height: 10px;
}

.fa-arrow-left {
  display: block;
}

.restaurant-bg img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.restaurant-container {
  position: relative;
  background: #f3f1f1;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  padding: 0 20px;
}

.restaurant-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Shrikhand;
  padding-top: 30px;
  font-weight: normal;
  margin-bottom: 30px;
}
.restaurant-title h1:first-letter {
  text-transform: uppercase;
}
.restaurant-title__heart {
  font-size: 24px;
}

.menu {
  margin: 0px 0px 50px 0px;
}
.menu__category {
  font-weight: 100;
  font-size: 18px;
  text-transform: uppercase;
}
.menu__category::after {
  content: " ";
  display: block;
  width: 50px;
  height: 2px;
  background: #99E2D0;
}
.menu__plat {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #c4bebe;
  height: 80px;
  margin: 15px 0;
}
.menu__plat__text {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__plat__nom {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
.menu__plat__ingredients {
  font-size: 18px;
  font-weight: 100;
}
.menu__plat__prix {
  margin: 32px 14px 5px 4px;
  font-weight: bold;
  font-size: 18px;
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}
.order__button {
  font-weight: bold;
  color: white;
  height: 60px;
  width: 60%;
  margin: 15px 20% 15px 20%;
  border: none;
  box-shadow: 0px 5px 5px lightgrey;
  background: linear-gradient(170deg, #fd78da 20%, #9356dc 100%);
  border-radius: 30px;
  width: 50%;
  font-size: 17px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0 6px 7px -7px grey;
}
.location__icon {
  height: 20px;
  font-size: 18px;
}
.location__text {
  margin: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #505050;
}

.restaurant-list {
  background-color: #f6f6f6;
  margin: 50px 0 0 0;
  padding: 30px 20px;
  width: auto;
}
.restaurant-list__card-list {
  width: auto;
  list-style: none;
  padding: 0;
}
.restaurant-list__card {
  height: 280px;
  margin-bottom: 20px;
}
.restaurant-list__card__img {
  height: 180px;
}
.restaurant-list__card__img img {
  border-radius: 20px 20px 0px 0px;
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.restaurant-list__card__img__new {
  font-weight: bold;
  background-color: #99e2d0;
  color: #008766;
  width: 80px;
  display: block;
  text-align: center;
  height: 25px;
  width: 100px;
  padding-top: 5px;
  position: relative;
  white-space: nowrap;
  bottom: 170px;
  left: 65%;
}
.restaurant-list__card__card-info {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  height: 80px;
  border-radius: 20px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  border: 1px solid lightgrey;
  line-height: 28px;
}
.restaurant-list__card__card-info__name {
  color: black;
  font-weight: 700;
  font-size: 20px;
}
.restaurant-list__card__card-info__city {
  color: black;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.restaurant-list__card__card-info_like {
  position: absolute;
  right: 10%;
  font-size: 24px;
  color: black;
}

.fonctionnement {
  padding: 0 20px;
}
.fonctionnement h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.fonctionnement__steps {
  padding: 0;
  list-style: none;
}
.fonctionnement__steps__count {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 10px;
  font-size: 14px;
}
.fonctionnement__steps li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f6f6f6;
  margin: 0 0 15px 0;
  height: 80px;
  box-shadow: 1px 1px 4px #c4bebe;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
}
.fonctionnement__steps li:nth-child(3) {
  background-color: #f5edff;
}
.fonctionnement__steps__icon {
  margin: 0 15px;
  color: grey;
}
.fonctionnement__steps__icon__selected {
  color: #9356DC;
}

.about {
  background-color: #f6f6f6;
  height: 200px;
  padding: 30px 0;
  margin-bottom: 100px;
}
.about__title {
  padding: 0 10%;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.about__subtitle {
  margin: 10px 10%;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.about__button {
  font-weight: bold;
  color: white;
  height: 60px;
  width: 60%;
  margin: 15px 20% 15px 20%;
  border: none;
  box-shadow: 0px 5px 5px lightgrey;
  background: linear-gradient(170deg, #fd78da 20%, #9356dc 100%);
  border-radius: 30px;
  width: 65%;
  font-size: 17px;
}

/*# sourceMappingURL=style.css.map */
