.about{
    background-color: rgb(246, 246, 246);
    padding: 50px 10% ;
    margin-bottom: 100px;
    text-align: center;
    
    &__title{
        
      
        margin:0;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        

    }
    &__subtitle{
      
        font-size: 24px;
        font-weight: 300;
        text-align: center;
    }
    &__button{
      @include pinkButton;
      width: auto;
      margin: 15px auto;
      padding: 0 20px;
        font-size: 17px;
        transition-duration: .5s;
    }

}