.about{
    background-color: rgb(246, 246, 246);
    
    height: 200px;
    padding: 30px 0;
    &__title{
        padding: 0 18%;
        margin:0;

    }
    &__subtitle{
        margin: 10px 10%;
    }
    &__button{
       font-weight: bold;
        color: white;
        height: 50px;
        width: 60%;
        margin: 15px 20% 0 20%;
        border: none;
        box-shadow: 0px 5px 5px lightgrey;
       
         background: linear-gradient(170deg, rgba(253,120,218,1) 7%, rgba(147,86,220,1) 59%);
        border-radius: 30px;
        
    }

}