.restaurant-list {
    background-color: rgb(246, 246, 246);
    margin: 50px 0 0 0;
    padding: 30px 20px;
    width: auto;

    &__title {
        font-weight: 700;
    }

    &__card-list {
        width: auto;
        list-style: none;
        padding: 0;


    }

    &__card {
        position: relative;
        height: 260px;

        margin-bottom: 20px;
        box-shadow: 2px 2px 10px grey;
        border-radius: 20px;

        &:hover {
            opacity: 0.5;
            box-shadow: 2px 2px 10px grey;

        }


        &__img {
            height: 180px;


            img {

                border-radius: 20px 20px 0px 0px;

                height: 180px;
                width: 100%;
                object-fit: cover;
            }

            &__new {
                font-weight: bold;
                background-color: #99e2d0;
                color: #008766;
                width: 80px;
                display: block;
                text-align: center;
                height: 25px;
                width: 100px;
                padding-top: 5px;
                position: absolute;
                white-space: nowrap;
                top: 10%;
                right: 10%;
            }
        }

        &__card-info {

            width: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
            height: 80px;

            background-color: white;
            border-radius: 0 0 20px 20px;

            line-height: 28px;



            &__name {
                color: black;
                font-weight: 700;
                font-size: 20px;

            }

            &__city {
                color: black;
                margin: 0;
                font-size: 16px;
                font-weight: 400;

            }

            &__like {
                position: absolute;
                margin-right: 20px;
                font-size: 24px;
                color: black;
                bottom: 0;
                right: 0;


                @for $i from 1 through 4 {

                    &__heart#{$i} {
                        font-size: 30px;
                        cursor: pointer;

                        &__filled#{$i} {
                            display: block;
                            background: $color-primary;
                            position: relative;
                            bottom: 24px;
                            left: 5px;
                            height: 20px;
                            width: 20px;
                            transform: rotate(-45deg) scale(0.00001);
                            cursor: pointer;

                            &::after {
                                background: inherit;
                                border-radius: 50%;
                                content: "";
                                position: absolute;
                                top: -50%;
                                left: 0;
                                height: 20px;
                                width: 20px;

                            }

                            &::before {
                                background: inherit;
                                border-radius: 50%;
                                content: "";
                                position: absolute;
                                top: 0;
                                right: -50%;
                                height: 20px;
                                width: 20px;

                            }
                        }
                    }

                    #heart-check#{$i}:checked~.restaurant-list__card__card-info__like__heart#{$i}__filled#{$i} {
                        animation: pulseUp 2s;
                        animation-fill-mode: both;

                    }
                }
            }

        }
    }
}

// #heart-check1:checked~ .restaurant-list__card__card-info__like__heart1__filled1 {
//     animation: pulseUp 1.5s;
//     animation-fill-mode: both;

// }
// #heart-check:not(:checked)~ .restaurant-list__card__card-info__like__heart__filled {
//     animation: pulseDown 1.5s;
//     animation-fill-mode: both;
// }
// #heart-check2:checked~ .restaurant-list__card__card-info__like__heart2__filled2 {
//     animation: pulseUp 1.5s;
//     animation-fill-mode: both;

// }
// #heart-check3:checked~ .restaurant-list__card__card-info__like__heart3__filled3 {
//     animation: pulseUp 1.5s;
//     animation-fill-mode: both;

// }
// #heart-check4:checked~ .restaurant-list__card__card-info__like__heart4__filled4 {
//     animation: pulseUp 1.5s;
//     animation-fill-mode: both;

// }