.fonctionnement{
    padding: 0 20px;
    h2{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    &__steps{
        padding: 0;
        list-style: none;
        
     
            &__count{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 24px;
                width: 24px;
                border-radius: 100%;
                background-color: $color_primary;
                color: white;
                position: relative;
                right:10px;
                font-size: 14px;
                
            }
            li{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                background-color: rgb(246, 246, 246);
                margin: 0 0 15px 0;
                height: 80px;
                box-shadow: 1px 1px 4px rgb(196, 190, 190);
                border-radius: 20px;
                font-size: 18px;
                font-weight: 700;
                &:nth-child(3)
                {
                    background-color: #f5edff ;
                }
                
                
                
            }
            &__icon{
                margin:0 15px;
                color: grey;
                
                &__selected{
                    color: $color-primary;
                    
                }
            }

    }
    
}