

.location{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(234, 234, 234);
   
    &__icon{
        height: 20px;

    }
    &__text{
        margin: 20px;

    }
}